<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.pool_size">3</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property> <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/KRIMTEXKARKAS</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/your_db</property>-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.example.t5.entities.SourceEntity"/>
        <mapping class="com.example.t5.entities.ProviderEntity"/>
        <mapping class="com.example.t5.entities.SourceSorageEntity"/>
        <mapping class="com.example.t5.entities.BuyerEntity"/>
        <mapping class="com.example.t5.entities.ProductEntity"/>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->

    </session-factory>
</hibernate-configuration>